.search--cond {
  background-color: #fff;
  color: #000;
  font-size: 20px;
  border-radius: 10px;
  width: 50%;
  max-width: 580px;
  min-width: 520px;
  height: 50px;
  padding: 0 5px;
  box-shadow: 3px 3px 3px #aaa;
}
.search--cond__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
}
.search--cond__wrap--select {
  width: 20%;
  height: 100%;
  vertical-align: middle;
  position: relative;
  margin: 0 1%;
}
.search--cond__wrap--select::after {
  content: "";
  border: 1pt solid #e2e2e2;
  width: 1%;
  height: 50%;
  position: absolute;
  top: 25%;
  right: 0;
}
.search--cond__select {
  width: 100%;
  padding: 0;
  padding-left: 5px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  transform: translateY(50%);
}
.search--cond__icon {
  width: 5%;
  margin: auto 0 auto 1%;
}
.search--cond__text {
  width: 60%;
  height: 80%;
  margin: auto;
  border: none;
  background-color: transparent;
  padding: 10px;
  display: inline-block;
}

.main--wrap {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop--list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.shop--card {
  width: 290px;
  margin-bottom: 30px;
  background-color: #fff;
  border: 1pt solid #ddd;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #aaa;
}
.shop--card__img {
  height: 55%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.shop--card__text {
  width: 90%;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
}
.shop--card__name, .shop--card__tag {
  text-align: left;
  margin-bottom: 10px;
}
.shop--card__name {
  font-size: 22px;
  font-weight: bolder;
}
.shop--card__tag span {
  font-size: 14px;
  margin-right: 5px;
}
.shop--card__footer {
  width: 90%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: center;
}
.shop--card__button--detail {
  color: #fff;
  font-size: 16px;
  background-color: #305dff;
  padding: 10px 15px;
  border-radius: 5px;
}
.shop--detail {
  width: 45%;
  min-width: 400px;
  margin-left: 0;
  display: flex;
  flex-direction: column;
}
.shop--detail__header {
  margin: 10px 0 10px;
  font-size: 28px;
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
}
.shop--detail__back--button {
  width: 30px;
  aspect-ratio: 1/1;
  font-size: 24px;
  padding: 1px auto 4px;
  margin-right: 15px;
  background-color: #fff;
  border: 1pt solid #ddd;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #aaa;
  vertical-align: middle;
}
.shop--detail__name {
  font-weight: bold;
  vertical-align: middle;
}
.shop--detail__img {
  width: 100%;
}
.shop--detail__tag {
  margin: 20px 0;
  font-size: 16px;
}
.shop--detail__tag span {
  margin-right: 10px;
}
.shop--detail__description {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.6;
}
.shop--detail__reserve {
  width: 45%;
  height: 100%;
  min-width: 400px;
  min-height: 500px;
  transform: translateY(-75px);
}
.shop--detail__reserve__form--input, .shop--detail__reserve__form--select {
  font-size: 16px;
  border-radius: 5px;
  margin: 5px 0;
  padding: 3px 10px 5px;
}
.shop--detail__reserve__form--input {
  width: 50%;
}
.shop--detail__reserve__form--select {
  width: 100%;
}
.shop--detail__reserve__content {
  width: 100%;
  height: 80vh;
  min-height: 400px;
  max-height: 850px;
  background-color: #305dff;
  padding: 30px;
  border-radius: 10px 10px 0 0;
}
.shop--detail__reserve h1 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 30px;
}
.shop--detail__reserve form {
  display: flex;
  flex-direction: column;
}
.shop--detail__reserve__confirm {
  width: 100%;
  background-color: #4d7fff;
  border-radius: 10px;
  margin: 30px 0;
  padding: 15px 0;
}
.shop--detail__reserve__confirm table {
  margin: 0 15px;
}
.shop--detail__reserve__confirm--tr {
  color: #fff;
  font-size: 16px;
  line-height: 1.8;
}
.shop--detail__reserve__confirm--tr td:nth-child(1) {
  width: 100px;
}
.shop--detail__reserve__confirm--tr td:nth-child(2) {
  width: auto;
}
.shop--detail__reserve__button {
  width: 100%;
  padding: auto;
  line-height: 3;
  text-align: center;
  color: #fff;
  border-radius: 0 0 10px 10px;
  background-color: #0538ff;
}/*# sourceMappingURL=shop.css.map */